<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Naves</span>
    <div>
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <span  [routerLink]="['/home']">Home</span>
        </button>
        <button mat-menu-item>
          <span [routerLink]="['/filmes']">Filmes</span>
        </button>
        <button mat-menu-item>
          <span [routerLink]="['/naves']">Naves</span>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
